<html>
<head>
	<title>BudayaKB Lite</title>
</head>

<body>
	 {% include 'includes/_navbar.html' %}
	<h2><b>Kriteria Pencarian</b></h2>

	<form method="POST", action="" enctype = "multipart/form-data">
		<select name ="pilihan">
			<option value = 'Nama'>Nama Budaya</option>
			<option value = 'Tipe'>Tipe Budaya</option>
			<option value = 'Prov'>Asal Provinsi Budaya</option>
		</select>
		<input type="text" name=masukan required>
		<input type=submit value="Cari">
	</form>
	

	{% if result is defined and result|length != 0 %}
	<h4>Ditemukan {{result|length}} data dengan {{pilihan}} Budaya : {{masukan}} </h4>
	
	<table border=1>
        <tr>
        	<th>Nama</th>
            <th>Tipe</th>
            <th>Asal</th>
            <th>URL</th>
        </tr>
        
        {% for v in result %}
        <tr>
        	<td align=center> {{ v.nama }} </td>
           	<td align=center> {{ v.tipe }} </td>
            <td align=center> {{ v.prov }} </td>
         	<td align=center> {{ v.url }} </td>
        </tr>
        {% endfor %}

     </table>
     {% elif result is defined and result|length == 0: %}
	<h4>Data dengan {{pilihan}} Budaya : {{masukan}} tidak ditemukan</h4>
	{% endif %}

</body>
</html>
